{%- macro virtualmachine(vm) -%}
{
    "name": "{{ vm.name }}",
    "type": "Microsoft.Compute/virtualMachines",
    "apiVersion": "2016-04-30-preview",
    "location": "{{ vm.location }}",
    "tags": {},
    {%- if vm.plan is defined %}
    "plan": {
        "name": "{{ vm.plan.name }}",
        "publisher": "{{ vm.plan.publisher }}",
        "product": "{{ vm.plan.product }}",
        "promotionCode": "{{ vm.plan.promotioncode }}"
    },
{% endif %}
    "properties": {
        "hardwareProfile": {
            "vmSize": "{{ vm.properties.hardwareprofile.vmsize }}"
        }
    {%- if vm.properties.storageprofile is defined -%},
        "storageProfile": {
            "imageReference": {
                {% if vm.properties.storageprofile.imagereference.id is defined %}"id": "{{ vm.properties.storageprofile.imagereference.id }}",{% endif %}
                "publisher": "{{ vm.properties.storageprofile.imagereference.publisher }}",
                "offer": "{{ vm.properties.storageprofile.imagereference.offer }}",
                "sku": "{{ vm.properties.storageprofile.imagereference.sku }}",
                "version": "{{ vm.properties.storageprofile.imagereference.version }}"
            },
            "osDisk": {
                {% if vm.properties.storageprofile.osdisk.ostype is defined %}"osType": "{{ vm.properties.storageprofile.osdisk.ostype }}",{% endif %}
                {% if vm.properties.storageprofile.osdisk.encryptionsettings is defined %}
                "encryptionSettings": {
                    "diskEncryptionKey": {
                        "secretUrl": "{{ vm.properties.storageprofile.osdisk.encryptionsettings.diskencryptionkey.secreturl }}",
                        "sourceVault": {
                            "id": "{{ vm.properties.storageprofile.osdisk.encryptionsettings.diskencryptionkey.sourcevault.id }}"
                        }
                    },
                    "keyEncryptionKey": {
                        "keyUrl": "{{ vm.properties.storageprofile.osdisk.encryptionsettings.keyencryptionkey.keyurl }}",
                        "sourceVault": {
                            "id": "{{ vm.properties.storageprofile.osdisk.encryptionsettings.keyencryptionkey.sourcevault.id }}"
                        }
                    },
                    "enabled": {{ 'true' if vm.properties.storageprofile.osdisk.encryptionsettings.enabled else 'false' }}
                },
                {% endif %}
                "name": "{{ vm.properties.storageprofile.osdisk.name }}",
                "vhd": {
                    "uri": "{{ vm.properties.storageprofile.osdisk.vhd.uri }}"
                },
                "image": {
                    "uri": "{{ vm.properties.storageprofile.osdisk.image.uri }}"
                },
                "caching": "{{ vm.properties.storageprofile.osdisk.caching }}",
                "createOption": "{{ vm.properties.storageprofile.osdisk.createoption }}"
                {% if vm.properties.storageprofile.osdisk.disksizegb is defined %},"diskSizeGB": "{{ vm.properties.storageprofile.osdisk.disksizegb }}"{% endif %}
                {% if vm.properties.storageprofile.osdisk.manageddisk is defined %},
                "managedDisk": {
                    "id": "{{ vm.properties.storageprofile.osdisk.manageddisk.id }}",
                    "storageAccountType": "{{ vm.properties.storageprofile.osdisk.manageddisk.storageaccounttype }}"
                }
                {% endif %}
            }
            {% if vm.properties.storageprofile.datadisks is defined %},
            "dataDisks": [
                {% for datadisk in vm.properties.storageprofile.datadisks %}
                {
                    "lun": "{{ datadisk.lun }}",
                    "name": "{{ datadisk.name }}",
                    "vhd": {
                        "uri": "{{ datadisk.vhd.uri }}"
                    },
                    "image": {
                        "uri": "{{ datadisk.image.uri }}"
                    },
                    "caching": "{{ datadisk.caching }}",
                    "createOption": "{{ datadisk.createoption }}",
                    "diskSizeGB": "{{ datadisk.disksizegb }}",
                    "managedDisk": {
                        "id": "{{ datadisk.manageddisk.id }}",
                        "storageAccountType": "{{ datadisk.manageddisk.storageaccounttype }}"
                    }
                }
            {% endfor %}
            ]
            {% endif %}
        }
    {%- endif -%}
    {%- if vm.properties.osprofile is defined -%},
        "osProfile": {
            "computerName": "{{ vm.properties.osprofile.computername }}",
            "adminUsername": "{{ vm.properties.osprofile.adminusername }}",
            "adminPassword": "{{ vm.properties.osprofile.adminpassword }}"
            {% if vm.properties.osprofile.customdata is defined %},"customData": "{{ vm.properties.osprofile.customdata }}"{% endif %}
            {% if vm.properties.osprofile.windowsconfiguration is defined %},
            "windowsConfiguration": {
                "provisionVMAgent": {{ 'true' if vm.properties.osprofile.windowsconfiguration.provisionvmagent else 'false' }},
                "enableAutomaticUpdates": {{ 'true' if vm.properties.osprofile.windowsconfiguration.enableautomaticupdates else 'false' }}
                {% if vm.properties.osprofile.windowsconfiguration.timezone is defined %},"timeZone": "{{ vm.properties.osprofile.windowsconfiguration.timezone }}"{% endif %}
                {% if vm.properties.osprofile.windowsconfiguration.additionalunattendcontent is defined %},
                "additionalUnattendContent": [
                    {% for unattended in vm.properties.osprofile.windowsconfiguration.additionalunattendcontent %}
                    {
                        "passName": "{{ unattended.passname }}",
                        "componentName": "{{ unattended.componentname }}",
                        "settingName": "{{ unattended.settingname }}",
                        "content": "{{ unattended.content }}"
                    }{{ "\n" if loop.last else "," }}
                    {% endfor %}
                ]
                {% endif %}
                {% if vm.properties.osprofile.windowsconfiguration.winrm is defined %},
                "winRM": {
                    "listeners": [
                        {% for listener in vm.properties.osprofile.windowsconfiguration.winrm.listeners %}
                        {
                            "protocol": "{{ listener.protocol }}",
                            "certificateUrl": "{{ listener.certificateurl }}"
                        }{{ "\n" if loop.last else "," }}
                        {% endfor %}
                    ]
                }
                {% endif %}
            }
            {% endif %}
            {% if vm.properties.osprofile.linuxconfiguration is defined %},
            "linuxConfiguration": {
                "disablePasswordAuthentication": {{ 'true' if vm.properties.osprofile.linuxconfiguration.disablepasswordauthentication else 'false' }}
                {% if vm.properties.osprofile.linuxconfiguration.ssh is defined %},
                "ssh": {
                    "publicKeys": [
                        {% for key in vm.properties.osprofile.linuxconfiguration.ssh.publickeys %}
                        {
                            "path": "{{ vm.properties.osprofile.linuxconfiguration.ssh.publickeys[key].path }}",
                            "keyData": "{{ vm.properties.osprofile.linuxconfiguration.ssh.publickeys[key].keydata }}"
                        }{{ "\n" if loop.last else "," }}
                        {% endfor %}
                    ]
                }
                {% endif %}
            }
            {% endif %}
            {% if vm.properties.osprofile.secrets is defined %},
            "secrets": [
                {% for vault in vm.properties.osprofile.secrets %}
                {
                    "sourceVault": {
                        "id": "{{ vault.sourcevault.id }}"
                    },
                    "vaultCertificates": [
                        {% for cert in vault.vaultcertificates %}
                        {
                            "certificateUrl": "{{ cert.certificateurl }}",
                            "certificateStore": "{{ cert.certificatestore }}"
                        }{{ "\n" if loop.last else "," }}
                        {% endfor %}
                    ]
                }{{ "\n" if loop.last else "," }}
                {% endfor %}
            ]
            {% endif %}
        }
    {%- endif -%}
    {%- if vm.properties.networkprofile is defined -%},
        "networkProfile": {
            "networkInterfaces": [
                {% for nic in vm.properties.networkprofile.networkinterfaces %}
                {
                    "id": "{{ nic.id }}",
                    "properties": {
                        "primary": {{ 'true' if nic.properties.primary else 'false' }}
                    }
                }{{ "\n" if loop.last else "," }}
                {% endfor %}
            ]
        }
    {%- endif -%}
    {%- if vm.properties.diagnosticsprofile is defined -%},
        "diagnosticsProfile": {
            "bootDiagnostics": {
                "enabled": {{ 'true' if vm.properties.diagnosticsprofile.bootdiagnostics.enabled else 'false'}},
                "storageUri": "{{ vm.properties.diagnosticsprofile.bootdiagnostics.storageuri }}"
            }
        }
    {%- endif -%}
    {%- if vm.properties.availabilityset is defined -%},
        "availabilitySet": {
            "id": "{{ vm.properties.availabilityset.id }}"
        }
    {%- endif -%}
    {%- if vm.properties.licensetype is defined -%},
        "licenseType": "{{ vm.properties.licensetype }}"
    {%- endif %}
    },
    "resources": [
    ]
}
{%- endmacro -%}